@import "tailwindcss";

@font-face {
  font-family: "Orbitron";
  src: local("Orbitron-Variable"), url("./assets/fonts/Orbitron-Variable.ttf");
}

* {
  color: #e0e0e0;
}

html,
body,
#root {
  height: 100%;
}
